body{
    background-color: rgba(52, 154, 255, 0.37);
}

header{ width: 808px;
    height: 100px;
    color: rgb(244, 239, 244);
    border: 2px solid grey;
    text-align: center;
    border-radius: 6px;
    margin-left: 400px; 
    background-color: rgba(186, 237, 237, 0.317);
    
}
.a1{
    border: 2px solid red;
background-color: rgb(201, 239, 163);
font-size: 20px;
margin: 5px;
border-radius: 5px;


}
.a2{
    border: 2px solid red;
background-color: rgb(201, 239, 163);
text-align: center;
border-radius: 5px;
margin: 5px;
font-size: 20px;
}
.a3{
    border: 2px solid red;
background-color: rgb(201, 239, 163);
font-size: 20px;
margin: 5px;
border-radius: 5px;
}
.a4{
    border: 2px solid red;
background-color: rgb(201, 239, 163);
margin: 5px;
border-radius: 5px;
font-size: 20px;
}
.a5{
    border: 2px solid red;
background-color: rgba(218, 243, 192, 0.178);
width: 390px;
height: 100px;
margin-top: -104px;
border-radius: 5px;;
text-align: center;
font-size: x-large;
color: blue;

}
p{
    color: rgb(214, 214, 235);
    margin-top: 20px;

}
nav ul li{
    list-style: none;
    float: left; text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: azure;

}
input{
    background-color: azure;
    border-radius: 10px;
    border: 2px solid rgb(219, 22, 28);
    margin-top: 6px;
    margin: left 10px;
}
a{
    text-decoration: none;
}
li{
    background-color: azure;
}
h1{color: aliceblue;
    text-align: center;
    font-size: 70px;
}
b{ color: antiquewhite;
    margin-left: 1000px;
}
.a1:hover{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.a2:hover{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.a3:hover{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.a4:hover{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.aa1{
    border: 10px solid rgb(184, 249, 63);
    margin: 10px;
    padding: 5px 9px 109px 5px;
    border-style: double;
    border-radius: 10px;
}